/* DESKTOP 992PX RESPONSIVE */

@media screen and (min-width: 992px){

    /* Adattoiamo il container alle dimensioni del desktop */

    .container{
        max-width: 992px;
    }

    /* Nascondiamo l'hamburger menu pe rfar comparire
    la navbar */

    header .fa-solid.fa-bars{
        display: none;
    }

    header nav{
        display: block;
    }

    /***************Planning****************/

    /* In tal modo gestisco il gutter tra le varie cards
    a mio piacimento */

    #planning .row-desktop{
        display: flex;
        align-items: flex-end;

        margin: 0 -0.5rem;
    }

    #planning .col-desktop{
        width: calc(100% / 2 - 0.5rem);
        padding: 0 0.5rem;
    }

    /***************FEATURES**************/

    /* In tal modo gestisco il gutter tra le varie cards
    a mio piacimento */

    #features .features-cards{
        flex-direction: row;
        flex-wrap: wrap;
        
        margin: 0 -1rem;
    }

    .features-cards > div{
        width: calc(100% / 3 - 1rem);

        padding: 0 1rem;
    }


}