/* TABLET 768PX RESPONSIVE */

@media screen and (min-width: 768px){

    /* Adattoiamo il container alle dimensioni del tablet */

    .container{
        max-width: 768px;
    } 

    /********** POINTS ***********/

    /* Modifichiamo la section points in modo tale da
    ottenere uan suddivisione corretta */

    .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        margin: 0 -1rem;
    }

    /* Qui selezioniamo esclusivamente la prima card
    perchè avrà grandezza raddoppiata rispetto alle 
    altre 5 cards */

    .col:first-child{
        width: calc(100% / 3 * 2 - 0.5rem);
        padding: 0 0.5rem;
    }

    .col{
        width: calc(100% / 3 - 0.5rem);
        padding: 0 0.5rem;
    }

    /************TESTIMONIALS**************/

    .flex-col{
        flex-direction: row;
        align-items: center;
    }

    .flex-col > div{
        flex-basis: 70%;

        /* Cambiamo la posizione del testo verso sinistra */
        
        text-align: left;
    }

    .flex-col > div:first-child{
        flex-basis: 30%;
    }

    /*************FEATURES SECTION****************/

    #features .features-cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .features-cards > div{
        width: calc(100% / 2 - 0.5rem);
    }

    /* ************ABOUT US********** */

    #about-us .tablet-flex{
        display: flex;
        justify-content: space-between;

        margin: 0 -0.5rem;
    }

    .tablet-flex > div{
        width: calc(100% / 2 - 0.5rem);

        padding: 0 0.5rem;
    }

}