/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Abbiamo fissato questo valore di padding per evitare che
l'header in position fixed potesse coprire parte del 
contenuto */

body{
    padding-top: 40px;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

section
,footer{
    padding: 30px 100px;
}

/* CONTENITORI */

.container{
    margin: 0 auto;
    max-width: 480px;
}

/* COLORS */

.bgc-blue{
    background-color: #0084FD;
}

.blue{
    color: #0084FD;
}

.white{
    color: white;
}

.bgc-lightblu{
    background-color: #B5DDFF;
}

.bgc-violet{
    background-color: #9792E4;
}
.bgc-black{
    background-color: #333333;
}

/* UTILITIES */

.bord{
    border: 1px solid black;
}

.block{
    display: block;
}

.btn{
    border-radius: 20px;
    padding: 5px 10px;

    max-width: 100px;
    min-height: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.center-block{
    margin: 0 auto;
}

.relative{
    position: relative;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

/* PADDING */

.padding-repeat{
    padding: 10px 20px;
}

.pad-t-20{
    padding-top: 20px;
}

/* MARGIN */

.marg-b-20{
    margin-bottom: 20px;
}

.marg-t-20{
    margin-top: 20px;
}

.marg-b-80{
    margin-bottom: 100px;
}

.marg-b-50{
    margin-bottom: 50px;
}

/***************** HEADER ****************/

/* Rendiamo l'header fixed in modo tale che sovrasti su tutto */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    min-height: 40px;

    z-index: 2;

    box-shadow: 1px 3px 3px #999999;
}

/* Cambiamo il display in flex e posizioniamo ai lati
logo e hamburger menu */

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Ridimensioniamo il logo */

#logo{
    width: 40px;
}

/* Rendiamo non visibile la navbar su smartphone */

header nav{
    display: none;
    height: 100%;
}

/*************Modelliamo la navbar******************/

/* Cambiamo il display e miglioriamo la visibilità 
degli li */

/* GESTISCO GLI UL */
header nav ul{
    display: flex;
    align-items: center;

    list-style-type: none;
}

/* GESTISCO GLI LI */

header nav li{
    margin-right: 1rem;
}

/* GESTISCO GLI A*/

header nav li a{
    color: white;
}

/* HEADER BUTTON */

.get-started-btn.btn{
    background-color: white;
    color: black;

    font-size: 15px;
}

/*************** MAIN *************/

/* Modelliamo l'App Store button */

#points .btn.app-store-btn{
    color: white;

    max-width: 200px;
    min-height: 40px;

    margin: 0 auto;
}

/* Bordatura delle card */

#points .card{
    border-radius: 30px;

    background-color: #B5DDFF;
    color: #0084FD;

    padding: 10px;

    /* Utilizziamo flex per centrare tutto nella card */

    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

/* Centriamo titolo e paragrafo delle card */

#points h2, 
#points p{
    text-align: center;
}

#points p{
    color: #5A6E7F;
}

/* PLANNING SECTION */

/* Creiamo il riquadro bianco col il link circolare */

#planning-photo{
    background-color: white;

    border-radius: 20px;
    padding: 50px;

    /* Diamo il position relative in modo da dare un riferimento
    al link circolare che sarà in posizione absolute */
    position: relative;
}

/* link circolare */

.circle-link{
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: #9792E4;

    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    line-height: 40px;

    display: block;
}

/* Centriamo le foto all'interno dei blocchi */

/* Viene ereditato da tutti i figli e 
in tal modo si prende tutto */

#planning
,#testimonials{
    text-align: center;
}

#planning figure{
    display: flex;
    justify-content: center;
}

/* Ridimensioniamo le immagini nella section planning */

#planning figure img{
    max-width: 300px;
    max-height: 300px;
}

/**************** TESTIMONIALS ***************/

/* Creiamo dei background circolari con le immagini
dei partner */

.img-partner{
    width: 200px;
    height: 200px;
    border-radius: 50%;

    display: block;

    margin: 20px auto;
}

/* Fissiamo queste colonne inmodo tale da riutilizzarle
successivamente per il responsive */

.flex-col{
    border-radius: 20px;
    padding: 40px 40px;
    margin: 20px 0;

    background-color: #9792E4;
    color: white;

    display: flex;
    flex-direction: column;
}

.flex-col > div{
    flex-basis: 50%;
}

/******************* FEATURES *******************/

/* Rendiamo flex il blocco contenente le cards quality 
così da poter gestire nel responsive la distribuzione
delle stesse */

#features h2{
    text-align: center;
}

#features .features-cards{
    display: flex;
    flex-direction: column;
}

.features-cards > div{
    padding: 30px 30px;
    border-radius: 20px;

    background-color: white;
    color: #9792E4;

    margin-bottom: 20px;
}

/* More button */

.btn.more-btn{
    background-color: #9792E4;
    color: white;
}

/* ***********ABOUT US************ */

/* Cambiamo la position in absolute cosi da posizionare a
piacimento le virgolette */

#about-us .fa-quote-right{
    position: absolute;
    top: 0;
    left: 70%;

    color: #9792E4;
}

/* Linkedin button */

#about-us .btn.linkedin-btn{
    color: white;
    background-color: #9792E4;

    max-width: 200px;
}

/************GET STARTED************/

#get-started{
    text-align: center;
}

#get-started .btn.started-btn{
    background-color: white;
    color: #6860e0;
    max-width: 150px;
    min-height: 40px;

    margin: 0 auto;
}

/***************FOOTER*****************/

footer{
    color: white;

    text-align: center;
}
